target/
.settings/
.classpath
.project
/bin/
*.tern-project
*.DS_Store
*.pid
ont_repository/
components_json/
repository/
solr-7.4.0/server/solr/componentscore/data/
solr-7.4.0/server/logs/
apache-jena-fuseki-3.8.0/run/
