/*This style regard the insert card*/

.card-box {
	background: #FAFAFA;
	width:100%;
	min-height: 300px;
	position: relative;
	padding: 30px 30px 20px;
	margin-bottom: 20px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	cursor: pointer;
}


.card-title h2 {
	margin: 0;
	padding-top: 5%;
	color: #6441A5;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 1;
	margin-bottom: 15px;
}

.card-title p {
	margin: 0;
	margin-bottom: 10px;
	font-size: 16px;
}


.btn{
	background: #6441A5;
}
